server:
  port: 8901

eureka:
  instance:
    preferIpAddress: true
    metadataMap:
      user.name: ${spring.security.user.name}
      user.password: ${spring.security.user.password}
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

spring:
  redis:
    host: 192.168.11.234
    port: 6379
  security:
    user:
      name: actuator
      password: "{noop}actuator"
      roles: ACTUATOR

management:
  endpoints:
    web:
      exposure:
        include: "*"

logging:
  level:
    com.netflix: WARN
    org.springframework.web: WARN
    #org.springframework.security: DEBUG
    com.gonwan.springcloud: DEBUG
