server:
  port: 5555

eureka:
  instance:
    preferIpAddress: true
    metadataMap:
      user.name: ${spring.security.user.name}
      user.password: ${spring.security.user.password}
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

spring:
  security:
    user:
      name: actuator
      password: actuator
      roles: ACTUATOR
  sleuth:
    sampler:
      probability: 1.0
  zipkin:
    sender:
      # otherwise rabbit is used if available
      type: WEB
  cloud:
    config:
      # allow command line override
      allowOverride: true
      overrideSystemProperties: false
    gateway:
      # seems spring cloud gateway does not support a global context path like /api
      defaultFilters:
      - StripPrefix=2
      routes:
      - id: authentication-id
        uri: http://localhost:8901
        predicates:
        - Path=/api/auth/**
      - id: organization-id
        uri: http://localhost:8085
        predicates:
        - Path=/api/organization/**
      - id: license-id
        uri: http://localhost:8080
        predicates:
        - Path=/api/license/**

management:
  endpoints:
    web:
      exposure:
        include: "*"

logging:
  level:
    com.netflix: WARN
    org.springframework.web: WARN
    com.gonwan.springcloud: DEBUG
